<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start" style="height:60px; width: 100%">
      <img src="./assets/icon/aulac-logo.jpg">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="categories$ | async as categories">
    <ion-item *ngFor="let cat of categories" [routerLink]="['./',cat?.id]">
      <ion-avatar slot="start">
        <ion-img [src]="cat?.imageUrl ? cat.imageUrl : 'assets/icon/unavailable.png'"></ion-img>
      </ion-avatar>
      <ion-label>{{ cat.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="cartPrice > 0" expand="full" color="dark" (click)="goToCheckout()">
    View Cart &nbsp; - &nbsp; {{ cartPrice | currency }}
  </ion-button>
</ion-footer>