<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="tabs/menu"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card style="border-radius: 0; margin: 5px !important;" *ngIf="loadedCategory$ | async as loadedCategory">
    <ion-thumbnail style="width: 100%; height: 250px;">
      <img [src]="loadedCategory?.imageUrl ? loadedCategory?.imageUrl: 'assets/icon/unavailable.png'">
    </ion-thumbnail>
  </ion-card>
  <ion-grid no-padding>
    <ion-searchbar (ionChange)="onSearch($event?.target?.value)"></ion-searchbar>
    <ion-col>
      <ion-list *ngIf="menuItems$ | async as items">
        <ion-item *ngFor="let item of items" [routerLink]="['./', item?.id]">
          <ion-thumbnail slot="start">
            <img [src]="item?.imageUrl ? item?.imageUrl : 'assets/icon/unavailable.png'">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ item.title }}</h2>
            <p>{{ item.price | currency }}</p>
          </ion-label>
          <i *ngIf="!item?.unavailable && item?.isSpicy" class="fas fa-pepper-hot" style="font-size: 10px; color: red;"></i>
          <!-- <i class="fas fa-leaf" style="font-size: 10px; color: green;"></i> -->
          <ion-button slot="end" color="danger" *ngIf="item?.unavailable">Sold out</ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-grid>
</ion-content>