<ion-card>
  <ion-card-header>
    <ion-list lines="full">
      <ion-item>
        <ion-card-subtitle><strong>Coupon</strong></ion-card-subtitle>
      </ion-item>
    </ion-list>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-input placeholder="Enter Input" style="font-size: 13px;"></ion-input>
        <ion-icon name="qr-code-outline" size="small"></ion-icon>
        <ion-button color="danger" fill="outline" slot="end" (click)="applyCoupon()">Apply</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>